<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="parent-container position-relative">
                <div class="child-div position-absolute text-center">
                    <h1 class=" animate-charcter">Welcome To The Image Gallery</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="waviy">
                <span style="--i:1">L</span>
                <span style="--i:2">o</span>
                <span style="--i:3">a</span>
                <span style="--i:4">d</span>
                <span style="--i:5">i</span>
                <span style="--i:6">n</span>
                <span style="--i:7">g</span>
                <span style="--i:8">.</span>
               </div>
        </div>
    </div>
</div>
